.menu-rowfirst {
  margin: 5px;
  padding: 5px;
}

.menu-row {
  margin: 5px 10px 5px 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.status {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: italic;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5px;
  text-align: left;
  color: #666;
}

.img-menu {
  width: 390px;
  height: 260px;
}

.img-menu:hover {
  width: 400px;
  height: 270px;
  display: inline-block;
  background-color: lightslategray;
  opacity: 0.5;
  background: #999;
  transition: 0.5s;
}

.div {
  display: inline-flex;
}

.single-banner {
  display: inline-block;
  position: relative;
  margin: 5px;
  box-shadow: #999;
}

.single-banner-cta {
  bottom: -12px;
  cursor: pointer;
  position: absolute;
  z-index: 8;
  max-width: 90%;
  width: auto;
  left: 35px;
}

.cta-title {
  color: antiquewhite;
}

.btn-explore-more {
  background: #ef4b4f;
  color: #fff;
  padding: 6px 14px;
  line-height: 1.5;
  opacity: 0;
  display: inline-block;
  visibility: visible;
  width: auto;
  border-radius: 2px;
}
