
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #323232;
  font-size: 16px;
  max-width: 1280px;
  background: #fff;
  line-height: 1.25em;
  overflow-x: hidden;
}

.App {
  display: block;
  background: lavender;
  margin: 15px;
  padding: 15px;
  border: 0;    
  vertical-align: baseline;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: lavender;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(82, 82, 82);
}

.App-link {
  color: dodgerblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-list {
  background-color: lavender;
  width: 50%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: orangered;
}

.game {
  display: flex;
  flex-direction: row;
}
